@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Please choose one option to retrieve information from a sidechain node</p>
    
    <div>
        <a href="/Home/Index/1">Node Information</a>
    </div>
    
    <div>
        <a href="/Home/Index/2">Delegates information</a>
    </div>    

    
    <h5 style="text-align:left">
        @Model
    </h5>
    
</div>
